[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Install project as editable
tentaclio-s3 = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
black = "*"
flake8 = "*"
isort = ">=5.11.2"
mypy = "*"
twine = "*"
moto = "*"

[packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = false
